container_commands:
    00_ensure_pip:
        command: "sudo python3.8 -m ensurepip"
        ignoreErrors: true
    01_install_virtualenv:
        command: "python3.8 -m pip install virtualenv"
        ignoreErrors: true
    02_init_venv:
        command: "sudo python3.8 -m virtualenv /opt/certbot"
        ignoreErrors: true
    10_upgrade_pip:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
        ignoreErrors: true
    20_pip_install_certbot:
        command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
        ignoreErrors: true
    30_alias_certbot_into_path:
        command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        ignoreErrors: true
    40_create_static_dir:
        command: "sudo mkdir -p /var/app/current/"
        ignoreErrors: true
