# In a single instance environment, you must also modify the instance's security group to 
# allow traffic on port 443. The following configuration file retrieves the security 
# group's ID using an AWS CloudFormation function and adds a rule to it. 
# Link : https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-singleinstance-docker.html
Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

option_settings:
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /.well-known: /.well-known
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: 'npm start stocktracker-prod'

# Environment variables :
# ${DOMAIN}     : example.org
# ${EMAIL}      : user@example.org
container_commands:
  00_start_nginx:
    command: "sudo service nginx start"
    ignoreErrors: true
  01_get_certificate:
    command: "sudo /opt/certbot/bin/certbot certonly --webroot \
      -w /var/app/current \
      -d ${DOMAIN} \
      --debug \
      --non-interactive \
      --email ${EMAIL} \
      --agree-tos \
      --expand \
      --keep-until-expiring"
    ignoreErrors: true
  02_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${DOMAIN} /etc/letsencrypt/live/ebcert"
    ignoreErrors: true
  03_configure_ssl:
    command: "sudo cp /home/ec2-user/https.conf /etc/nginx/conf.d/"
    ignoreErrors: true
  04_restart_nginx:
    command: "sudo service nginx restart"
    ignoreErrors: true
